body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff0f5;
  overflow-x: hidden;
}

.container {
  text-align: center;
  padding: 40px;
  position: relative;
  z-index: 1;
}

input, button {
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  margin: 10px;
}

.foto {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.foto:hover {
  transform: scale(1.05);
}
.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas */
  gap: 20px;
  margin: 30px 0;
}

.frases p {
  font-size: 18px;
  color: #d63384;
  margin: 10px 0;
}

#canvas-corações {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.escondido {
  display: none;
}

.foto-com-legenda {
  display: flex;
  flex-direction: column;
  align-items: center;
}
 .legenda {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  color: #555;
}
/* Responsivo para telas menores */
@media (max-width: 900px) {
  .galeria {
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
  }
}

@media (max-width: 600px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
  }
}